{%- comment -%}
  One link column (Widget, a cell of the 'Footer Bottom' zone). The heading is the item title (editable
  TitlePart); the links are the Link bag, in order. Add more of these widgets to a culture layer to grow
  the footer.
{%- endcomment -%}
{%- assign heading = Model.ContentItem.DisplayText -%}
{%- assign links = Model.ContentItem.Content.Links.ContentItems -%}
<div>
  {%- if heading and heading != "" -%}
    <h2 class="text-base text-white">{{ heading }}</h2>
  {%- endif -%}
  {%- if links.size > 0 -%}
    <ul class="mt-4 space-y-3 text-sm text-green-100/80">
      {%- for item in links -%}
        {%- assign link = item.Link.Link -%}
        {%- if link.Url and link.Url != "" -%}
          <li><a class="hover:text-white" href="{{ link.Url | href }}"{% if link.Target and link.Target != "" %} target="{{ link.Target }}" rel="noopener"{% endif %}>{{ link.Text }}</a></li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
