@using OrchardCore.Admin.Models
@using OrchardCore.DisplayManagement
@using OrchardCore.DisplayManagement.ModelBinding
@using OrchardCore.Entities
@using OrchardCore.Themes.Services
@using OrchardCore.Users.Models

@inject IDisplayManager<Navbar> DisplayManager
@inject IUpdateModelAccessor UpdateModelAccessor
@inject ThemeTogglerService ThemeTogglerService
@{
    var adminSettings = Site.As<AdminSettings>();
    // Navbar is pre-rendered to allow resource injection.
    var navbar = await DisplayAsync(await DisplayManager.BuildDisplayAsync(UpdateModelAccessor.ModelUpdater));
}
<!DOCTYPE html>
<html lang="@Orchard.CultureName()" dir="@Orchard.CultureDir()" data-bs-theme="@await ThemeTogglerService.CurrentTheme()" data-tenant="@ThemeTogglerService.CurrentTenant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@RenderTitleSegments(Site.SiteName, "before")</title>
    <link type="image/x-icon" rel="shortcut icon" href="~/TheTheme/images/favicon.ico">

    <!-- This script can't wait till the footer -->
    <script asp-name="admin-head" version="1" at="Head"></script>

    <link rel="stylesheet" href="https://bootswatch.com/5/yeti/bootstrap.css">
    <link rel="stylesheet" href="/OCWS/css/oc.css">
    <link rel="stylesheet" href="/OCWS/css/styles.css">
    @* <link rel="stylesheet" href="/TheAgencyTheme/css/styles.css"> *@
    @* <link rel="stylesheet" href="/TOCT/css/styles.css"> *@
    @if (Orchard.IsRightToLeft())
    {
        @* <style asp-name="bootstrap-rtl" version="5" at="Head"></style> *@
        <style asp-name="TheTheme" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    else
    {
        @* <style asp-name="bootstrap" version="5" at="Head"></style> *@
        <style asp-name="TheTheme" asp-src="~/TheTheme/styles/theme.min.css" debug-src="~/TheTheme/styles/theme.css" at="Foot"></style>
    }
    <script asp-name="bootstrap" version="5" at="Foot"></script>

    <style asp-name="font-awesome" version="6"></style>
    <resources type="Header" />
    @await RenderSectionAsync("HeadMeta", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <shape type="Branding" />
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <div class="d-flex w-100 align-items-end justify-content-end justify-content-md-between flex-column flex-md-row">
                    <menu alias="alias:main-menu" cache-id="main-menu" cache-fixed-duration="00:05:00" cache-tag="alias:main-menu" />
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="https://github.com/OrchardCMS/OrchardCore/" class="nav-link" target="_blank"><i class="fa-brands fa-github"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://gitter.im/OrchardCMS/OrchardCore" class="nav-link" target="_blank"><i class="fa-brands fa-gitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://docs.orchardcore.net/" class="nav-link" target="_blank"><i class="fa-solid fa-book"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/OrchardCMS/" class="nav-link" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.linkedin.com/groups/13605669/" class="nav-link" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        </li>
                    </ul>
                    @* @navbar *@
                </div>
            </div>
        </div>
    </nav>
    @await RenderSectionAsync("Header", required: false)
    <main class="container">
        @await RenderSectionAsync("Messages", required: false)
        @await RenderBodyAsync()
    </main>
    @if (IsSectionDefined("Footer"))
    {
        <footer>
            <div class="container">
                @await RenderSectionAsync("Footer", required: false)
            </div>
        </footer>
    }
    <resources type="FootScript" />
</body>
</html>
