<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/segoe-fonts@1.0.1/segoe-fonts.min.css" rel="stylesheet">
    <title>Migrate to Orchard Core</title>
</head>
<body>
    <p style="--rem: 16; color: #333; line-height: 1.6em; margin: -10px 0 0 0; border: 0; outline: 0; font-family: 'Segoe UI', Trebuchet, Arial, sans-serif; font-weight: inherit; font-style: inherit; font-size: 13.008px; vertical-align: baseline; padding: 0 8px 0px 8px;">
        Please upgrade to Orchard Core! It's the new, supported edition of Orchard. See <a href="https://docs.orchardcore.net/" target="_blank">the docs</a> and <a href="https://orcharddojo.net/blog/how-to-migrate-an-orchard-1-application-to-orchard-core" target="_blank">this guide</a>.
    </p>
</body>
</html>