<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" stdoutLogEnabled="false" stdoutLogFile="\\?\%home%\LogFiles\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44315" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
        </environmentVariables>
      </aspNetCore>
      <rewrite>
        <rules>
          <rule name="Meeting shortcut" stopProcessing="true">
            <match url="^meeting$" />
            <action type="Redirect" url="https://teams.microsoft.com/l/meetup-join/19%3ameeting_MjgxNGRiMDgtMWUzYy00YzRjLTllYWYtODRhMDJlNWU5YTM5%40thread.v2/0?context=%7b%22Tid%22%3a%2272f988bf-86f1-41af-91ab-2d7cd011db47%22%2c%22Oid%22%3a%22cff2928b-da0f-4c65-9cc8-742e3c4de50e%22%7d" />
          </rule>
          <rule name="Harvest register shortcut" stopProcessing="true">
            <match url="^registerharvest$" />
            <action type="Redirect" url="https://us.commitchange.com/nv/las-vegas/orchardcore/events/orchard-harvest-2024" />
          </rule>
          <rule name="Discord shortcut" stopProcessing="true">
            <match url="^discord$" />
            <action type="Redirect" url="https://discord.gg/cwC4ejgKcQ" />
          </rule>
          <rule name="Linkedin shortcut" stopProcessing="true">
            <match url="^linkedin$" />
            <action type="Redirect" url="https://www.linkedin.com/groups/13605669/" />
          </rule>
          <rule name="RedirectToHTTPS" stopProcessing="true">
            <match url="(.*)" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{SERVER_NAME}/{R:1}" redirectType="Permanent" />
          </rule>
          <rule name="RedirectWwwToNonWww" stopProcessing="false">
            <match url="(.*)" />
            <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
              <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
            </conditions>
            <action type="Redirect" url="https://{C:2}{REQUEST_URI}" redirectType="Permanent" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>